---
import MainModal from "./MainModal.astro"
---
<main class="w-full h-[76vh] bg-white  p-[2vh] flex flex-col items-center shadow-md">
        <h3 id="nombreProyecto" class="text-[2rem] font-bold mb-2">PROYECTOS</h3>

        <div class="w-full h-[5vh] border border-[#023047] rounded-t-md flex items-center justify-around bg-gray-50 font-semibold">
            <h4>Descripción</h4>
            <h4>Estado</h4>
        </div>
        <section id="contenedor" class="w-full h-full border bg-[#219ECC] border-black p-1 flex flex-col gap-1">
<!-- Lista de Tareas a mostrar -->
        </section>

<!-- modal para mostrar informacion de proyecto o agregar proyecto / tarea -->
        <MainModal></MainModal>
    </main>

    <script>

    </script>