    <main class="w-full h-[76vh] bg-white  p-[2vh] flex flex-col items-center shadow-md">
        <h3 id="nombreProyecto" class="text-[2rem] font-bold mb-2">PROYECTOS</h3>

        <div class="w-full h-[5vh] border border-[#023047] rounded-t-md flex items-center justify-around bg-gray-50 font-semibold">
        <h4>Descripción</h4>
        <h4>Estado</h4>
        </div>
        <section id="contenedor" class="w-full h-full border bg-[#219ECC] border-black p-1 flex flex-col gap-1">
        <!-- Lista de Tareas -->
        <article class="w-full h-[6vh] bg-gray-200 flex hover:bg-[#FFB703] hover:font-semibold rounded">
            <h4 class="w-[70%] h-full flex items-center px-1">
                Generar maquetado     simple
            </h4>
            <h4 class="w-[30%] h-full flex items-center px-1 justify-between">
                En proceso 
            <span id="Estado" class="border border-[#023047] w-[5vh] h-[5vh] bg-[yellow] rounded-full cursor-pointer"></span>
            </h4>
        </article>

        </section>
    </main>

    <script>

    </script>